/*Head*/

body {
    font: normal 1.1em 'Roboto','Shrikhand', sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    object-fit: cover;
}
figcaption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
figcaption p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
article {
    width: 44%;
}
/*Présentation restaurants*/

/*Header*/

#logo {
    text-align: center;
    margin: 30px 0;
}
.localisation {
    display: flex;
    flex-direction: row;
    border: transparent;
    background-color: rgb(228, 228, 228);
    box-shadow: rgb(200, 200, 200) 2px -5px 9px -3px;
    justify-content: center;
    align-items: center;
}
.localisation i {
    margin: 0 20px;
    font-size: 1.1em;
}
.localisation p {
    font-size: 1.4em;
    font-weight: bold;
}
.presentation {
    display: flex;
    flex-direction: column;
    border: solid 1px transparent;
    background-color: rgb(243, 243, 243);
}
.presentation h2 {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}
.presentation h4 {
    color: grey;
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
}
.presentation button {
    margin: auto;
    margin-bottom: 35px;
    width: 270px;
    height: 70px;
    color: white;
    border: solid transparent 1px;
    border-radius: 80px;
    background: linear-gradient(#f16cfd, #b454d1);
    box-shadow: 1px 5px 18px -1px rgba(118,118,118,0.38);
    font-size: 1.1em;
    font-weight: bold;
    transition: all 300ms 150ms;
}
button:hover {
    background: linear-gradient(#f5aafb, #de70ff);
    box-shadow: 1px 5px 21px -1px rgba(0, 0, 0, 0.38);   
    cursor: pointer;          
}
  
button:active {
  background: linear-gradient(#f16cfd, #b454d1);
  box-shadow: 1px 5px 18px -1px rgba(118,118,118,0.38);
}
